fastapi>=0.117.0
uvicorn[standard]>=0.38.0
pandas
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
scikit-learn
xgboost==2.1.1
mlflow==3.5.1
python-multipart
evidently==0.4.33
google-cloud-storage>=2.19.0
requests>=2.32.5
wordcloud==1.9.3