services:
    airflow:
        build:
            context: .
            dockerfile: Dockerfile.airflow
        image: my-airflow:latest
        volumes:
            - ./airflow:/opt/airflow
        environment:
            - MLFLOW_TRACKING_URI=http://mlflow:8000
        depends_on:
            - mlflow
        ports:
            - "8080:8080"
        command: airflow standalone
    mlflow:
        build:
            context: .
            dockerfile: Dockerfile.mlflow
        image: my-mlflow:latest
        container_name: mlflow
        ports:
            - "8000:8000"
        environment:
            - MLFLOW_BACKEND_STORE_URI=sqlite:///mlflow.db
            - MLFLOW_DEFAULT_ARTIFACT_ROOT=file:/mlflow
        volumes:
            - ./mlruns:/mlflow
            - ./mlflow.db:/mlflow.db
        command: mlflow server --backend-store-uri sqlite:///mlflow.db --default-artifact-root file:/mlflow --host 0.0.0.0 --port 8000 --serve-artifacts --allow-all-hosts